*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    margin: auto;
}

.book_links_item{
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
}
.book_links_item img{
    width: 200px;
}
.text{
    width: 900px;
    margin-left: 50px;
}
.text h2{
    margin-bottom: 20px;
    color: rgb(153, 15, 15);
}
.btn{
    display: block;
    margin-top: 40px;
    background-color:rgb(153, 15, 15) ;
    padding: 7px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(153, 15, 15);
    font-size: 20px;
    transition: 0.3s;
}
.btn:hover{
    background: none;
    color: rgb(153, 15, 15);
}

